<form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <br/>
    <label for="title">Nombre del producto:</label><br/>
    <input type="text" name="title" id="title" formControlName="title"/><br/>
    <label for="price">Precio:</label><br/>
    <input type="text" name="price" id="price" formControlName="price"/><br/>

    <label for="description">Descripción:</label><br/>
    <input type="text" name="description" id="description" formControlName="description"/><br/>

    <label for="category">Categoría:</label><br/>
    <select formControlName="categoryId">
        <option *ngFor="let c of categorias" [value]="c.id">{{c.name}}</option>
    </select><br/>

    <label for="image">Imagen:</label><br/>    
    <input type="text" name="image" id="image" formControlName="image"/><br/>

    <button type="submit">Enviar</button>
    <input type="button" value="Cancelar" routerLink="/products"/>
</form>
